@import './variables.less';
//card组件
.card {
    position: relative;
    padding: 5px 10px;
    width: 100%;
    border-radius: 4px;
    background: rgba(131, 203, 228, .2);
    box-sizing: border-box;

    &__header {
        padding: 5px 0;
        font-weight: 400;
        font-size: 16px;
        color: #fff;
        &__title-center {
            text-align: center; 
            font-size: 24px;
        }
        &__title {
            font-size: 16px;
            font-weight: 400;
            line-height: 32px;
            color: #fff;
        }
    }

    &__content {
        font-size: 10px;
        color: #fff;
        box-sizing: border-box;
    }

    &__top-title {
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        width: 120px;
        height: 32px;
        line-height: 32px;
        color: #f5f5f5;
        font-weight: 100;       
        font-size: 14px;
        text-align: center;
        border-radius: 4px;
        background-color: #4891BE;
        transform: translate3d(-50%,-50%,0);       
    }

    &::before,
    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 30px;
        height: 40px;
    }
    &::before {
        right: 0;
        top: 0;
        border-top: 1px solid #4891BE;
        border-right: 1px solid #4891BE;

    }
    &::after {
        bottom: 0;
        left: 0;
        border-bottom: 1px solid #4891BE;
        border-left: 1px solid #4891BE;
    }

    .bg-line {
        position: absolute;
        right: 2%;       
        width: 22px;
        height: 100px;
        background: url(../images/icon/icon_turnline.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
}


//box-card组件
.box-card {
    position: relative;
    height: 100%;
    box-sizing: border-box;
    &__header {            
        &__title {
            font-size: 16px;
            font-weight: 400;
            line-height: 32px;
            color: #fff;
        }
        &__text-right {
            font-size: 16px;
            font-weight: 400;
            float: right;
            color: #DBF0F8;
            line-height: 32px;
            text-shadow: 0px 0px 2px #fff, 0px 0px 4px #fff;
        }
        &__title-center {
            font-size: 24px;
            font-weight: 700;
            text-align: center;
            .title-right {
                margin-left: 35px;
                color: #85F58F;
            }
        }
    }
    &__content {
        width: 100%;
        box-sizing: border-box;
    }
}

//swiper-card组件
.swiper-card {
    position: relative;
    width: 100%;
    background: rgba(131, 203, 228, .2);
    box-sizing: border-box;
    &__top-title {
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        width: 120px;
        height: 32px;
        line-height: 32px;
        color: #f5f5f5;
        font-size: 14px;
        font-weight: 100;
        text-align: center;
        border-radius: 4px;
        background-color: #4891BE;
        transform: translate3d(-50%,-50%,0);   
        z-index: 10;         
    }
    &__topbar {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 9;
        background: rgba(0,0,0,.4);
    }
    &__content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .swiper-container {
        position: relative;
        width: 100%;
        height: 100%;
        .swiper-slide {
            width: 100%;
            height:100%;
            img {
                width: 100%;
                height: 100%;
            }
        }
    .swiper-button {
        background-size: 80%;
        background: rgba(0,0,0,0);
        background-position: center center;
        background-repeat: no-repeat;
        }        
    }
}

//icon-text组件
.icon-text {
    color: @font-color1;
    &::before {
        content: "";
        display: inline-block;
        margin-right: 6px;
        width: 35px;
        height: 36px;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center center;
    }
    span {
        &:last-child {
            margin-left: 4px;
        }
        
    }
}

//switch按钮
 .switch-btn {
     float: right;
    margin: 10px 0 0 10px;
     &__checkbox {
         display: none;
         &:checked~label:before{
            margin-left: 30px;
         }
         
         &:checked~label:after{
            content: 'ON';
            background-color: #20A0FF;           
            text-indent: -20px;
            color:#fff;
         }
     }
     label{
        position:relative;
        display: block;
        border-radius: 20px;
        width:50px;
        height: 20px;
        cursor: pointer;
        &::before,
        &::after {
            height: 20px;
            line-height:20px;
            border-radius: 18px;           
        }
        &::before{
            content: '';
            position: absolute;
            top:0;
            left: 0;
            width: 20px;         
            border-radius: 50%;
            background-color: #fff;
            box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.08);
            transition: all 0.3s ease;
         }
        &::after{
            content: 'OFF';   
            display: block;
            font-size: 10px;
            text-indent: 20px;
            line-height: 20px;
            color:#fff;         
            background-color:#ccc;
            transition: all 0.3s ease;
         }
     }
 }


 //table-list组件
.table-list {   
    width: 100%; 
    cursor: pointer;
    tr {
        display: flex;
        align-items: center;
        margin-top: 10px;
        padding:1px 8px; 
        font-size: 10px;
        color: #fff;
        text-align: center;
        background: rgba(26,52,82,.6); 
        &:last-child {
            margin-bottom: 10px;
        }           
        th {
            flex: 1;
            padding: 8px 0;
        }
        td {
            flex: 1;               
        }
    }
    .tr__th {
        margin-bottom: 10px;
        background: linear-gradient(90deg,#011832 0%,#10486E 50%,#011832 100%);
    }
    &__td {
        background:rgba(14,38,71,.6);
    }
}

//icon-circle组件
.icon-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    height: 90px;
    cursor: pointer;
    &__graph {
        width: 50px;
        height: 62px;
        background-color: #0B2A5E;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50%;
        // box-sizing: border-box;
    }
    &__title {
        font-size: 12px;
        color: #82A9BA;
        text-align: center;
    }
}

//table-info组件
.table-info {
    width: 100%;
    tr {  
        td {
            vertical-align: middle;
            &:first-child {
                text-align: left;
            }
            &:last-child {
                text-align: right;
            }
        }
    }
    .three-column {
        display: flex;
        justify-content: space-between;
        align-items: center;

        line-height: 2.4rem;
        td {
            font-size: 1rem;
            vertical-align: middle;
            &:first-child {
                width: 80px;
                text-align: left;
            }
            &:nth-child(2) {
                position: relative;
                flex: 1;
                height:4px;          
                span {
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    border-radius: 15px;
                }               
            }
            &:last-child {
                width: 60px;
                text-align: right;
            }
        }
    }
}

//text-strip组件
.text-strip { 
    width: 490px;
    height: 30px;
    display: flex;
    border-radius: 10px;
    span {
        position: relative;
        flex: 1;
        font-size: 12PX;
        color: #fff;
        text-align: center;
        line-height: 30px;
        &::after {
            content: attr(data-text);
            display: block;
            position: absolute;
            bottom: -30px;
            right: -10px;
        }
        &:nth-child(1) {
            background-color: #0CBD5C;
            &::before {
                content: attr(data-text1);
                display: block;
                position: absolute;
                bottom: -30px;
                left: 0px;
            }
        }
        &:nth-child(2) { background-color: #E5C63D;
        }
        &:nth-child(3) { background-color: #EB8504;
        }
        &:nth-child(4) { background-color: #EA3636;
        }
        &:nth-child(5) { background-color: #960453;
        }
        &:nth-child(6) { background-color: #61001D;}
    }
}
//text-strip组件
.text-strip1 { 
    height: 10px;
    display: flex;
    border-radius: 10px;
    span {
        position: relative;
        flex: 1;
        font-size: 10PX;
        color: #82a9ba;
        &::after {
            content: attr(data-text);
            display: block;
            position: absolute;
            bottom: -20px;
            right: -5px;
        }
        &:first-child {
            background-color: #0CBD5C;
            border-top-left-radius: 40px;
            border-bottom-left-radius: 40px;
            &::before {
                content: attr(data-text1);
                display: block;
                position: absolute;
                bottom: -20px;
                left: 0px;
            }
        }
        &:last-child {
            border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;
        }
        &:nth-child(2) { background-color: #E5C63D;
        }
        &:nth-child(3) { background-color: #EB8504;
        }
        &:nth-child(4) { background-color: #EA3636;
        }
        &:nth-child(5) { background-color: #960453;
        }
        &:nth-child(6) { background-color: #61001D;}
    }
}

//radar组件
.radar {
    position: absolute;
    border: 1px solid #316180;
    width: 100%;
    height: 100%;
    font-size: 32px;
    border-radius: 50%;
}
.radar {
    background: 
    linear-gradient(
        90deg,
        transparent 49.75%,
        #316180 49.75%,
        
        transparent 50.25%),
    linear-gradient(
        transparent 49.75%,
        #316180 49.75%,
        
        transparent 50.25%),
    repeating-radial-gradient(
        transparent 0, 
        transparent 0.95em, 
        
        #316180 1em),
}

.radar::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 50%;
    animation: scanning 5s linear infinite;
    transform-origin: 100% 100%;
}
.radar::before {
    background: linear-gradient(
            45deg,
            rgba(0, 0, 0, 0) 50%,
            rgba(72,145, 190, 1) 100%
        );
    border-radius: 100% 0 0 0;
}

.radar-text {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80px;
    height: 80px;
    font-size: 2.4rem;
    font-weight: 500;
    transform: translate(-50%,-50%);
    color: #0CBD5C;
    vertical-align: middle;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    span {
       font-size: 1.6rem; 
       margin-left: 4px;
    }
}
 
@keyframes scanning {
    to {
        transform: rotate(360deg);
    }
}

  
//进度条
.progress-bar {
    position: relative;
    height: 100%;
    &__wrapper {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        height: 40px;
        width: 60%;
        position: relative;
    }
    &__list {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        li {
            position: relative;
            width: 10px;
            height: 10px;
            background-color: #fff;
            border-radius: 50%;
            z-index: 10;
            &::after {
                content: attr(data-date);
                position: absolute;
                bottom: -250%;
                left: -200%;
            }
        }
        .active {
            width: 20px;
            height: 20px;
           background-color: #fff;
           &::after {
            content: attr(data-date);
            position: absolute;
            bottom: -100%;
            left: -50%;
        }
            &::before {
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                width: 10px;
                height: 10px;
                background-color: #4891BE;

                border-radius: 50%;

            }
        }
    }
    &__line {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0,-50%);
        width: 100%;
        height: 4px;
        background-color: #fff;
        &__top {
         display: block;
         width: 10%;
         height: 100%;
         background-color: #4891BE;
        }
    }
    &__btn {
        position: absolute;
        top: 25%;
        width: 12px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50%;
        &__prev {
            left: -5%;
            background-image: url(../images/icon/icon_btnprev.png);
        }
        &__next {
            right: -5%;
            background-image: url(../images/icon/icon_btnnext.png);
        }
    }
    &__text {
        position: absolute;
        top: 18%;

        &__start {
            left: 6%;            
        }
        &__end {
            right: 6%;          
        }
    }
}