.flex-alignitem_center {
  display: flex;
  align-items: center;
}
.dis-flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-column-jcsaround {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.flex-sparound {
  display: flex;
  justify-content: space-around;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.margin-top-30 {
  margin-top: 30px;
}
.icon-circle-icon1 {
  background-image: url(../images/icon/icon_cir1.png);
}
.icon-circle-icon2 {
  background-image: url(../images/icon/icon_cir2.png);
}
.icon-circle-icon3 {
  background-image: url(../images/icon/icon_cir3.png);
}
.icon-circle-icon4 {
  background-image: url(../images/icon/icon_cir4.png);
}
.icon-circle-icon5 {
  background-image: url(../images/icon/icon_cir5.png);
}
.icon-circle-icon6 {
  background-image: url(../images/icon/icon_cir6.png);
}
.icon-text-pm25::before {
  background-image: url(../images/icon/icon_pm25.png);
}
.icon-text-thermometer::before {
  background-image: url(../images/icon/icon_thermometer.png);
}
.icon-text-pm10::before {
  background-image: url(../images/icon/icon_pm10.png);
}
.icon-text-humidity::before {
  background-size: contain;
  background-image: url(../images/icon/icon_humidity.png);
}
.icon-text-noise::before {
  background-image: url(../images/icon/icon_noise.png);
}
.icon-text-windspeed::before {
  background-image: url(../images/icon/icon_windspeed.png);
}
.labor-icon_peoplenumber {
  width: 40px;
  height: 27px;
  background: url(../images/icon/icon_peoplenumber.png) no-repeat center center;
}
.labor-icon_labor {
  width: 23px;
  height: 30px;
  background: url(../images/icon/icon_labor.png) no-repeat;
}
.labor-icon_manager {
  width: 25px;
  height: 27px;
  background: url(../images/icon/icon_manager.png) no-repeat;
}
.icon-text-classify::before {
  background-image: url(../images/icon/icon_classify.png);
}
.icon-text-monitor::before {
  background-image: url(../images/icon/icon_monitor.png);
}
.icon-text-smoke::before {
  background-image: url(../images/icon/icon_smoke.png);
}
.icon-text-env::before {
  background-image: url(../images/icon/icon_env.png);
}
.icon-text-electric::before {
  background-image: url(../images/icon/icon_electric.png);
}
.icon-text-watermeter::before {
  background-image: url(../images/icon/icon_watermeter.png);
}
.icon-text-warn::before {
  width: 10px;
  height: 24px;
  background-image: url(../images/icon/icon_warn.png);
}
.icon-text-usernum::before {
  background-image: url(../images/icon/icon_usernum.png);
}
.icon-text-floor::before {
  background-image: url(../images/icon/icon_floor.png);
}
.icon-text-carspeed::before {
  background-image: url(../images/icon/icon_carspeed.png);
}
.icon-text-windspeed::before {
  background-image: url(../images/icon/icon_windspeed.png);
}
.icon-text-height::before {
  background-image: url(../images/icon/icon_height.png);
}
.icon-text-username::before {
  background-image: url(../images/icon/icon_username.png);
}
.icon-text-user1::before {
  background-image: url(../images/icon/icon_user1.png);
  height: 40px;
}
.icon-text-user2::before {
  background-image: url(../images/icon/icon_user2.png);
}
.icon-text-user3::before {
  background-image: url(../images/icon/icon_user3.png);
}
.icon-text-user4::before {
  background-image: url(../images/icon/icon_user4.png);
}
.icon-text-user5::before {
  background-image: url(../images/icon/icon_user5.png);
}
.icon-text-allelectric::before {
  background-image: url(../images/icon/icon_electricity.png);
}
.icon-text-allwater::before {
  background-image: url(../images/icon/icon_allwater.png);
}
.card {
  position: relative;
  padding: 5px 10px;
  width: 100%;
  border-radius: 4px;
  background: rgba(131, 203, 228, 0.2);
  box-sizing: border-box;
}
.card__header {
  padding: 5px 0;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.card__header__title-center {
  text-align: center;
  font-size: 24px;
}
.card__header__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #fff;
}
.card__content {
  font-size: 10px;
  color: #fff;
  box-sizing: border-box;
}
.card__top-title {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  width: 120px;
  height: 32px;
  line-height: 32px;
  color: #f5f5f5;
  font-weight: 100;
  font-size: 14px;
  text-align: center;
  border-radius: 4px;
  background-color: #4891BE;
  transform: translate3d(-50%, -50%, 0);
}
.card::before,
.card::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 30px;
  height: 40px;
}
.card::before {
  right: 0;
  top: 0;
  border-top: 1px solid #4891BE;
  border-right: 1px solid #4891BE;
}
.card::after {
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #4891BE;
  border-left: 1px solid #4891BE;
}
.card .bg-line {
  position: absolute;
  right: 2%;
  width: 22px;
  height: 100px;
  background: url(../images/icon/icon_turnline.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.box-card {
  position: relative;
  height: 100%;
  box-sizing: border-box;
}
.box-card__header__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #fff;
}
.box-card__header__text-right {
  font-size: 16px;
  font-weight: 400;
  float: right;
  color: #DBF0F8;
  line-height: 32px;
  text-shadow: 0px 0px 2px #fff, 0px 0px 4px #fff;
}
.box-card__header__title-center {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.box-card__header__title-center .title-right {
  margin-left: 35px;
  color: #85F58F;
}
.box-card__content {
  width: 100%;
  box-sizing: border-box;
}
.swiper-card {
  position: relative;
  width: 100%;
  background: rgba(131, 203, 228, 0.2);
  box-sizing: border-box;
}
.swiper-card__top-title {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  width: 120px;
  height: 32px;
  line-height: 32px;
  color: #f5f5f5;
  font-size: 14px;
  font-weight: 100;
  text-align: center;
  border-radius: 4px;
  background-color: #4891BE;
  transform: translate3d(-50%, -50%, 0);
  z-index: 10;
}
.swiper-card__topbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9;
  background: rgba(0, 0, 0, 0.4);
}
.swiper-card__content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.swiper-card .swiper-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.swiper-card .swiper-container .swiper-slide {
  width: 100%;
  height: 100%;
}
.swiper-card .swiper-container .swiper-slide img {
  width: 100%;
  height: 100%;
}
.swiper-card .swiper-container .swiper-button {
  background-size: 80%;
  background: rgba(0, 0, 0, 0);
  background-position: center center;
  background-repeat: no-repeat;
}
.icon-text {
  color: #82A9BA;
}
.icon-text::before {
  content: "";
  display: inline-block;
  margin-right: 6px;
  width: 35px;
  height: 36px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
}
.icon-text span:last-child {
  margin-left: 4px;
}
.switch-btn {
  float: right;
  margin: 10px 0 0 10px;
}
.switch-btn__checkbox {
  display: none;
}
.switch-btn__checkbox:checked ~ label:before {
  margin-left: 30px;
}
.switch-btn__checkbox:checked ~ label:after {
  content: 'ON';
  background-color: #20A0FF;
  text-indent: -20px;
  color: #fff;
}
.switch-btn label {
  position: relative;
  display: block;
  border-radius: 20px;
  width: 50px;
  height: 20px;
  cursor: pointer;
}
.switch-btn label::before,
.switch-btn label::after {
  height: 20px;
  line-height: 20px;
  border-radius: 18px;
}
.switch-btn label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}
.switch-btn label::after {
  content: 'OFF';
  display: block;
  font-size: 10px;
  text-indent: 20px;
  line-height: 20px;
  color: #fff;
  background-color: #ccc;
  transition: all 0.3s ease;
}
.table-list {
  width: 100%;
  cursor: pointer;
}
.table-list tr {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 1px 8px;
  font-size: 10px;
  color: #fff;
  text-align: center;
  background: rgba(26, 52, 82, 0.6);
}
.table-list tr:last-child {
  margin-bottom: 10px;
}
.table-list tr th {
  flex: 1;
  padding: 8px 0;
}
.table-list tr td {
  flex: 1;
}
.table-list .tr__th {
  margin-bottom: 10px;
  background: linear-gradient(90deg, #011832 0%, #10486E 50%, #011832 100%);
}
.table-list__td {
  background: rgba(14, 38, 71, 0.6);
}
.icon-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  height: 90px;
  cursor: pointer;
}
.icon-circle__graph {
  width: 50px;
  height: 62px;
  background-color: #0B2A5E;
  border-radius: 50%;
  box-shadow: 0 0 4px #1C3778;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
}
.icon-circle__title {
  font-size: 12px;
  color: #82A9BA;
  text-align: center;
}
.table-info {
  width: 100%;
}
.table-info tr td {
  vertical-align: middle;
}
.table-info tr td:first-child {
  text-align: left;
}
.table-info tr td:last-child {
  text-align: right;
}
.table-info .three-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 30px;
}
.table-info .three-column td {
  vertical-align: middle;
}
.table-info .three-column td:first-child {
  width: 80px;
  text-align: left;
}
.table-info .three-column td:nth-child(2) {
  position: relative;
  flex: 1;
  height: 4px;
}
.table-info .three-column td:nth-child(2) span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 15px;
}
.table-info .three-column td:last-child {
  width: 60px;
  text-align: right;
}
