.flex-alignitem_center {
  display: flex;
  align-items: center;
}
.dis-flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-column-jcsaround {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.flex-sparound {
  display: flex;
  justify-content: space-around;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.margin-top-30 {
  margin-top: 30px;
}
.icon-text-pm25::before {
  background-image: url(../images/icon/icon_pm25.png);
}
.icon-text-thermometer::before {
  background-image: url(../images/icon/icon_thermometer.png);
}
.icon-text-pm10::before {
  background-image: url(../images/icon/icon_pm10.png);
}
.icon-text-humidity::before {
  background-size: contain;
  background-image: url(../images/icon/icon_humidity.png);
}
.icon-text-noise::before {
  background-image: url(../images/icon/icon_noise.png);
}
.icon-text-windspeed::before {
  background-image: url(../images/icon/icon_windspeed.png);
}
.labor-icon_peoplenumber {
  width: 40px;
  height: 27px;
  background: url(../images/icon/icon_peoplenumber.png) no-repeat center center;
}
.labor-icon_labor {
  width: 23px;
  height: 30px;
  background: url(../images/icon/icon_labor.png) no-repeat;
}
.labor-icon_manager {
  width: 25px;
  height: 27px;
  background: url(../images/icon/icon_manager.png) no-repeat;
}
/**
 *整体布局
 */
.content {
  position: absolute;
  width: 100%;
  height: 86%;
  left: 0;
  bottom: 0%;
  box-sizing: border-box;
  padding: 10px 40px 0 40px;
  margin-bottom: 20px;
}
.content__wrapper {
  display: flex;
  height: 100%;
}
.content__wrapper__left,
.content__wrapper__center,
.content__wrapper__right {
  height: 100%;
}
.content__wrapper__left {
  flex: 1;
}
.content__wrapper__center {
  flex: 3;
  margin-left: 20px;
}
.content__wrapper__right {
  flex: 1;
  margin-left: 20px;
}
