//字体颜色
@font-white: #fff;
@bg: #4891be;
@font-blue: #4897ce;
@bg-body:#010926;
@font-color1:#82A9BA;
//边框颜色
@border-color1: #79D5F2;

//单行文本溢出打点
.text-point(){
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

//清除浮动
.clear-fix(){
    &::after {
     content: "";
     display: block;
     clear: both;
    }
}

//处理背景图片
.bg-rps() {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

//flex大全
.flex-column() {
    display: flex;
    flex-direction: column;
}
.flex-1() {
    flex: 1;
}
.flex-4() {
    flex: 4;
}
.flex-alignitem_center {
    display: flex;
    align-items: center;
}

.dis-flex {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-column-jcsaround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.flex-sparound {
    display: flex;
    justify-content: space-around;
}
.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}

//盒子大全
.margin-top-30 {
    margin-top: 30px;
}
//线条颜色
.td-bgcolor-1 { background-color: #51AEE0;}
.td-bgcolor-2 { background-color: #F3BB23;}
.td-bgcolor-3 { background-color: #DC6AA8;} 
.td-bgcolor-4 { background-color: #85F58F;}
.td-bgcolor-5 { background: linear-gradient(#385EAA,#523C94);}
.td-bgcolor-6 { background-color: #E46262;}

//文字阴影
.text-shadow-white() { text-shadow:0px 0px 4px #fff, 0px 0px 8px #fff, 0px 0px 12px #fff;}

//icon图标
.icon-circle-icon1 { background-image: url(../images/icon/icon_cir1.png);}

.icon-circle-icon1-act() { background-image: url(../images/icon/icon_cir1_act.png);}

.icon-circle-icon2 { background-image: url(../images/icon/icon_cir2.png);}

.icon-circle-icon2-act() { background-image: url(../images/icon/icon_cir2_act.png);}

.icon-circle-icon3 { background-image: url(../images/icon/icon_cir3.png);}

.icon-circle-icon3-act() { background-image: url(../images/icon/icon_cir3_act.png);}

.icon-circle-icon4 { background-image: url(../images/icon/icon_cir4.png);}

.icon-circle-icon4-act() { background-image: url(../images/icon/icon_cir4_act.png);}

.icon-circle-icon5 { background-image: url(../images/icon/icon_cir5.png);}

.icon-circle-icon5-act() { background-image: url(../images/icon/icon_cir5_act.png);}

.icon-circle-icon6 {background-image: url(../images/icon/icon_cir6.png);}
.icon-circle-icon6-act() { background-image: url(../images/icon/icon_cir6_act.png);}


.icon-text-pm25::before { background-image:  url(../images/icon/icon_pm25.png);}
.icon-text-thermometer::before {
   background-image:  url(../images/icon/icon_thermometer.png);
}
.icon-text-pm10::before { background-image:  url(../images/icon/icon_pm10.png);}
.icon-text-humidity::before {
    background-size: contain;
   background-image:  url(../images/icon/icon_humidity.png);
}
.icon-text-noise::before { background-image:  url(../images/icon/icon_noise.png);}
.icon-text-windspeed::before { background-image:  url(../images/icon/icon_windspeed.png);}


.labor-icon_peoplenumber {
    width: 40px;
    height: 27px;
    background: url(../images/icon/icon_peoplenumber.png) no-repeat center center;
}
.labor-icon_labor {
    width: 23px;
    height: 30px;
    background: url(../images/icon/icon_labor.png)no-repeat ;
}
.labor-icon_manager {
    width: 25px;
    height: 27px;
    background: url(../images/icon/icon_manager.png)no-repeat;
}

.icon-text-classify::before { background-image:  url(../images/icon/icon_classify.png);}
.icon-text-monitor::before { background-image:  url(../images/icon/icon_monitor.png);}
.icon-text-smoke::before { background-image:  url(../images/icon/icon_smoke.png);}
.icon-text-env::before { background-image:  url(../images/icon/icon_env.png);}
.icon-text-electric::before { background-image:  url(../images/icon/icon_electric.png);}
.icon-text-watermeter::before { background-image:  url(../images/icon/icon_watermeter.png);}

.icon-text-classify_active() { background-image:  url(../images/icon/icon_classify_active.png);}
.icon-text-monitor_active() { background-image:  url(../images/icon/icon_monitor_active.png);}
.icon-text-smoke_active() { background-image:  url(../images/icon/icon_smoke_active.png);}
.icon-text-env_active() { background-image:  url(../images/icon/icon_env_active.png);}
.icon-text-electric_active() { background-image:  url(../images/icon/icon_electric_active.png);}
.icon-text-watermeter_active() { background-image:  url(../images/icon/icon_watermeter_active.png);}

.icon-text-warn::before {
    width: 10px;
    height: 24px;
    background-image:  url(../images/icon/icon_warn.png);
 }

 .icon-text-usernum::before { background-image:  url(../images/icon/icon_usernum.png);}
 .icon-text-floor::before { background-image:  url(../images/icon/icon_floor.png);}
 .icon-text-carspeed::before { background-image:  url(../images/icon/icon_carspeed.png);}
 .icon-text-windspeed::before { background-image:  url(../images/icon/icon_windspeed.png);}
 .icon-text-height::before { background-image:  url(../images/icon/icon_height.png);}
 .icon-text-username::before { background-image:  url(../images/icon/icon_username.png);}

 .icon-text-user1::before { background-image:  url(../images/icon/icon_user1.png);height: 40px;}
 .icon-text-user2::before { background-image:  url(../images/icon/icon_user2.png);}
 .icon-text-user3::before { background-image:  url(../images/icon/icon_user3.png);}
 .icon-text-user4::before { background-image:  url(../images/icon/icon_user4.png);}
 .icon-text-user5::before { background-image:  url(../images/icon/icon_user5.png);}

 .icon-text-allelectric::before { background-image: url(../images/icon/icon_electricity.png);}
 .icon-text-allwater::before { background-image: url(../images/icon/icon_allwater.png);}